<?xml version="1.0" encoding="utf-8" ?>
<--  -->
<persistence version="2.0"
        xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
                http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">

    <!-- Unidade de Persistência  -->
    <persistence-unit name="nome_da_persistencia" transaction-type="RESOURCE_LOCAL">
   
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        
        <!-- Caminho e/ou nome da classe onde será persistido os dados para o banco -->
        <class>br.com.projeto.NomeClasse</class>
        
        <!-- Propriedades de persistência -->
        <properties>
        
            <!-- Propriedades JDBC -->
            <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/> <!-- Caminho do conector do mysql -->
            <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/nome_do_Banco"/>
            <property name="javax.persistence.jdbc.user" value="nome_de_acesso"/>
            <property name="javax.persistence.jdbc.password" value="senha_do_banco"/>

            <!-- Propriedades Hibernate -->
            <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver" /> <!-- Caminho do conector mysql  -->
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" /> <!-- Tipo de comunicação  -->
            <property name="hibernate.hbm2ddl.auto" value="update"/> 
            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.format_sql" value="true"/>

        </properties>
    </persistence-unit>

</persistence>
